@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<DataBinding FirstName="Jaakko" LastName="Jokunen">
    <HeadingHtml>
        <h1>This is heading sent from parent component.
        I can place this anywhere on my child component.</h1>
    </HeadingHtml>
</DataBinding>
